.tabs
    &__tabs-row
        display flex
        background #f6f5f7
        border-bottom: 1px solid rgba(137, 128, 152, 0.16);
        position relative
        z-index 2

    &__contents
        position relative
        background #fff
        height 100%
        position relative
        z-index 1
        styled-scrollbars()

        & .main-content
            overflow auto
            padding-bottom calc(var(--bottombar-height) + 8px);

        &_resizing
            position relative
            pointer-events none

        &::before
            top 0
            left 0
            content ""
            width 100%
            height 100%
            z-index 100
            display block
            position absolute

        ~/_collapsed &
            flex 1

    &__drop-space-after
        width 100%
        
        &_hoveringRight

            &:hover 
                &::before
                    content ''
                    position absolute
                    background #85cbfd
                    width 4px
                    height 100%


.panel-tabs

    &__tab
        padding 4px 24px 6px 24px
        height 32px
        width fit-content
        font-weight 500
        font-size 14px
        line-height 24px
        letter-spacing 0.15px
        transform translateY(2px)
        border-color rgba(65, 60, 74, 0.16);
        margin: 0 2px
        display flex
        align-items center
        cursor grab
        user-select none

        &_active
            border-width 1px 1px 0px 1px;
            border-style solid;
            background #fff

        &:hover svg
            color: #000

        &_dragOverSide_left
            &::before
                content ''
                position absolute
                left 0
                background #85cbfd
                width 4px
                height 100%

        &_dragOverSide_right
            &::after
                content ''
                position absolute
                right 0
                background #85cbfd
                width 4px
                height 100%

        &_label
            pointer-events none

    &__ghost-tab
        opacity 0.8
        position absolute
        z-index 100
        left 0
        top 0
        pointer-events none
        display none
        
    &__contents
        background #fff

    &__icon
        position absolute
        left 7px
        color #fff
