.wave
  position relative
  user-select none

  &__loader
    top 50%
    left 50%
    z-index 10
    height 20px
    width 200px
    display flex
    align-items center
    justify-content center
    position absolute
    border-radius 20px
    transform translate3d(-50%, -50%, 0)
    box-shadow 0 5px 20px rgba($accent_color, 0.2)

    waiting($accent_color)

    span
      display block
      padding 0 6px
      font-size 10px
      font-weight bold
      border-radius 10px
      background-color rgba(#fff, 0.5)

  &__wrapper
    height 100%
    display flex
    align-items stretch

  &__scale
    flex none
    width 36px
    height 100%
    display flex
    align-items center
    justify-content center
    background-color #fff

  &__body
    flex 1
    position relative
    overflow hidden
    background-color #FAFAFA

  &__cursor
    top 0
    left 150px
    width 2px
    height 100%
    z-index 10
    border-radius 2px
    position absolute
    pointer-events none
    background-color #000
    transform translate3d(-50%, 0, 0)

  &__controls
    height 48px
    padding 0 6px
    display flex
    align-items center
    border-top 1px solid rgba(#000, 0.1)
    border-bottom 1px solid rgba(#000, 0.1)

  &__surfer
    height 88px

    showtitle div
      left 8px
      padding 0 8px
      border-radius 4px
      position relative
      background-color #fff
      box-shadow 0 4px 15px rgba(#000, 0.2)

  &__timeline
    left 0
    bottom 0
    width 100%
    height 24px
    position absolute
    pointer-events none