.wave
  position relative

  &__loader
    top 50%
    left 50%
    z-index 10
    height 20px
    width 200px
    position absolute
    border-radius 20px
    transform translate3d(-50%, -50%, 0)
    box-shadow 0 5px 20px rgba($accent_color, 0.2)

    waiting($accent_color)
