.annotations-list
  min-width 264px
  box-sizing border-box
  position relative

  &__list
    top 100%
    width 100%
    position absolute
    background-color #fff

  &__create,
  &__entity
    height 48px
    display flex
    padding 0 16px
    align-items center
