.tree
  &-list
    display block

  &-treenode
    height 32px
    display flex
    padding 0 4px
    align-items center
    position relative
    max-width 100%
    box-sizing border-box

    &:hover,
    &-selected
      background-color var(--selection-color, rgba(#000, 0.04))

  &-switcher
    width 24px
    height 24px
    opacity 0.4
    transform rotate(-90deg)

    &_open
      transform rotate(0deg)

    &-noop
      display none
      width calc(24px - 16px)

  &-node
    &-content-wrapper
      flex 1
      padding 0 4px
      display flex
      align-items center
      max-width 100%

  &-iconEle
    width 24px
    height 24px
    display flex
    flex none
    align-items center
    justify-content center
    color var(--icon-color)

  &-indent
    display inline-block
    height 0

    &-unit
      width 16px
      display inline-block

  &-title
    flex 1
    padding-left 5px

  &__node
    &_hidden
      opacity 0.4

.region-item
  display flex
  height 32px
  align-items center
  justify-content space-between

  &__title
    flex 1
    color var(--text-color, #000)

  &__controls
    height 32px
    display grid
    align-items center
    justify-content center
    grid-template-columns repeat(5, 32px)

  &__control
    width 32px
    height 32px
    display flex
    align-items center
    justify-content center

    &_type
      &_predict
        color $magic_color
