.view-controls
  top 24px
  z-index 2
  height 40px
  display flex
  position sticky
  padding 8px 4px
  align-items center
  background-color #fff
  box-shadow 0 1px 0 rgba(#000, 0.1)

  .button
    justify-content flex-start

    &__icon
      width 24px
      height 24px
      flex none
