.view-controls
  height 40px
  display flex
  padding 8px 4px
  box-shadow 0 1px 0 rgba(#000, 0.1)
  align-items center

  .button
    justify-content flex-start

    &__icon
      width 24px
      height 24px
      flex none
