.annotations-carousel
  width 100%
  position relative
  height 100%
  align-items center
  flex auto
  align-items center
  &__container
    display flex
    width 100%
    justify-content space-between
    overflow auto
    height 100%
  &__carosel
    flex 1
    display flex
    gap 2px
    white-space nowrap
  &__carousel-controls
    position absolute
    right 0
    white-space nowrap
    top 50%
    transform translateY(-50%)
    display flex
    gap 4px
  &__nav
    padding 0
    height 28px
    width 28px
    .button  
      &__arrow
        &_left
          transform rotate(-90deg)
        &_right
          transform rotate(90deg)