.annotation-button
  display flex
  padding 4px 8px
  border-radius 4px 4px 0 0
  border-width 1px 1px 0px 1px
  border-style solid
  border-color rgba(137, 128, 152, 0.16)
  background-color rgba(137, 128, 152, 0.08)
  margin-top 2px
  align-items center
  gap 8px
  cursor pointer
  &_selected
    background-color #FFFFFF
  &:hover
    background-color rgba(9, 109, 217, 0.08)
  &__icons
    display inline-flex
    align-items center