.annotation-history
  margin 0 0 8px

  &_inline
    padding 0 8px

  &__title
    margin-bottom 8px

  &__divider
    height 1px
    position relative
    margin 14px 0
    background-color rgba(#000, 0.1)

    &::before
      top 0
      left 0
      font-size 12px
      color rgba(#000, 0.4)
      padding-right 5px
      position absolute
      content attr(title)
      transform translateY(-50%)
      background-color #fff

.history-item
  margin 0
  padding 8px
  cursor default
  border-radius 5px

  &__date
    color rgba(#000, 0.6)

  &:not(&_disabled)
    cursor pointer

  &:hover:not(&_disabled),
  &_selected:not(&_disabled)
    background-color #efefef

  &__name,
  &__date
    font-size 15px

  &_disabled
    opacity 0.6
    border-radius 5px
    background-color #fcfcfc

  &__userpic
    width 24px
    height 24px

    &_prediction
      color #944BFF
      background-color #E9DDF8
      box-shadow inset 0px 0px 0px 1px rgba(148, 75, 255, 0.15)

  &__comment
    padding-top 2px
    white-space pre-wrap

    &::before
      content attr(data-reason)

  &__history-icon
    width 24px
    height 24px

  &__action
    padding-top 6px
    align-items flex-start
    grid-template-columns 24px 1fr

  &:not(&_inline)
    margin 0 -10px
