.ground-truth
  &__toggle
    padding 0
    width 32px
    height 32px

  &__indicator
    width 16px
    height 16px
    color #000

    &_active
      color #ffbb1a

      path
        fill-opacity 1
        stroke-opacity 1
