@import "../../assets/styles/global.scss";

.menu {
  width: 320px;
  min-width: 320px;
  display: flex;
  flex-flow: column;
  z-index: 100;
  align-self: stretch;
  background-color: #fff;
  border-left: 1px solid rgba(#000, 0.1);

  @include respond("phone") {
    margin-left: 0;
    margin-top: 20px;
  }
}

.menubsp {
  display: flex;
  flex-direction: row;
  margin-top: 2em;

  & > div {
    margin-right: 2em;
    width: 33.3%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu:empty {
  width: 0;
  min-width: auto;
}
