.filter-row
  display flex
  flex-direction row
  align-items center
  margin-bottom 18px

  &__delete
    cursor pointer
    height 16px

  &__column
    margin-right 8px

    input
      height 24px !important