.node {
  flex-basis: 100%;
  color: rgba(0, 0, 0, 0.6);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.minimal {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 6px;
  }
}

.alias {
  font-weight: bold;
  margin-right: 5px;
  border-bottom: 1px solid black;
}
