.node {
  flex-basis: 100%;
  color: #262626;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.minimal {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 6px;
  }
}
