.taxonomy {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 4px;
  width: max-content;
  max-width: 100%;
  position: relative;

  & > span {
    line-height: 30px;
    padding: 0 5px; // 4px padding + 1px border to stay on the same indent as selected
    white-space: nowrap;
    cursor: pointer;
  }
}

.taxonomy__selected {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: -4px; // compensate margin of the last row

  div {
    margin: 0 4px 4px 0;
    background: #f4f4f4;
    padding: 2px 4px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  input[type=button] {
    border: none;
    background: none;
    cursor: pointer;
    padding-right: 0;
  }
}

.taxonomy__dropdown {
  position: absolute;
  z-index: 10;
  background: white;
  border-radius: 6px;
  padding: 8px;
  max-height: 300px;
  overflow-y: auto;
  left: -1px;
  width: max-content;
  min-width: 200px;
  max-width: 100%;
  margin-top: 9px; // 4px padding + 1px border + 4px gap
  box-shadow: 0 0 4px #d9d9d9;

  input[type=checkbox] {
    margin-right: 4px;
    vertical-align: -2px;
    &:disabled {
      opacity: 0.5;
    }
  }
}

.taxonomy__search {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.taxonomy__item ~ div {
  margin-left: 16px;
}

.taxonomy__item {
  display: flex;
  align-items: center;

  &:focus-within {
    background: #eee;
  }
}

.taxonomy__item label {
  flex-grow: 1;
  flex-shrink: 0;
}

.taxonomy__grouping {
  font-family: monospace;
  display: inline-block;
  width: 16px;
  text-align: center;
  user-select: none;
  flex-shrink: 0;

  &:not(:empty) {
    cursor: pointer;
  }
}
