<View>
  <Header>
    Hello world!
  </Header>
  <HyperTextLabels name="ner1" toName="text" allowEmpty="true">
    <Label value="Jimmy" background="#f00"></Label>
    <Label value="Oliver"></Label>
    <Label value="Megan" background="#00f"></Label>
  </HyperTextLabels>

  <HyperTextLabels name="ner" toName="text" choice="multiple">
    <Label value="Person"></Label>
    <Label value="Organization"></Label>
    <Label value="Date"></Label>
  </HyperTextLabels>
  <HyperText name="text" value="$text"></HyperText>
</View>
