.video-segmentation
  z-index 1
  position relative

.video
  video
    max-width 100%

  &__controls
    display flex
    height: 48px
    align-items center
    background-color #fff
    justify-content flex-end
