.block {
  border: 1px solid #e8e8e8;
  background: rgba(0, 0, 0, 0.01);
  margin-bottom: 0.5em;
  border-radius: 3px;
  padding: 20px 10px;
  overflow: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
