.list {
  max-height: 350px;
  overflow-y: auto;
}

.item {
  color: get-color(error);
  font-size: 14px;

  &:hover {
    cursor: pointer;
    color: #f5222d;
  }
}

.lstitem {
  cursor: pointer;
  align-items: center;
  justify-content: start;
  display: flex;
  position: relative;

  & > *:not(:last-child),
  & [role="img"] {
    margin-right: 6px;
  }

  &.hidden {
    opacity: 0.3;
  }

  &.selected {
    background: #f1f1f1;
  }
}

.list .lstitem {
  border-bottom: none;
}

.list .lstitem.root:not(:first-child) {
  border-top: 1px solid #f0f0f0;
}

@mixin link {
  position: absolute;
  left: 25px;
  border-left: 1px dotted grey;
}

@mixin link-arrow {
  content: "";
  position: absolute;
  width: 6px;
  height: 5px;
  border: 1px solid grey;
  transform: translate(-0.5px, 0) rotate(65deg) skewX(40deg);
  left: -3px;
  border-width: 0 1px 1px 0;
}

.link-leaf {
  @include link();
  top: -7px;
  height: 10px;

  &::after {
    @include link-arrow();
    top: 7px;
  }
}

.link-bi {
  @include link();
  top: -3px;
  height: 6px;

  &::before {
    @include link-arrow();
    top: -2px;
    border-width: 1px 0 0 1px;
  }

  &::after {
    @include link-arrow();
    top: 3px;
  }
}
