.list {
  max-height: 350px;
  overflow-y: auto;
}

.item {
  color: get-color(error);
  font-size: 14px;

  &:hover {
    cursor: pointer;
    color: #f5222d;
  }
}

.lstitem {
  cursor: pointer;
  align-items: center;
  justify-content: start;
  display: flex;
  position: relative;

  & > *:not(:last-child),
  & [role="img"] {
    margin-right: 6px;
  }

  &.hidden {
    opacity: 0.3;
  }

  &.selected {
    background: #f1f1f1;
  }
}

.list .lstitem {
  border-bottom: none;
}
