.list {
  max-height: 350px;
  overflow-y: auto;
}

.item {
  color: get-color(error);
  font-size: 14px;

  &:hover {
    cursor: pointer;
    color: #f5222d;
  }
}

.lstitem {
  cursor: pointer;
  align-items: center;
  display: flex;
}

.confbadge {
  background: #efefef;
  padding-left: 4px;
  border-radius: 10px;
  padding-right: 5px;
  font-size: 12px;
  margin-left: 2px;
}

.ant-tree-switcher {
  margin-top: 15px;
}

.treelabels {
  border: 1px solid #d9d9d9;
  borderradius: 2px;
}
