.treelabels {
  border: 1px solid #d9d9d9;
  max-height: 350px;
  overflow-y: auto;
}

.item {
  color: get-color(error);
  font-size: 14px;

  &:hover {
    cursor: pointer;
    color: #f5222d;
  }
}

.lstitem {
  cursor: pointer;
  align-items: center;
  justify-content: start;
  display: flex;
  position: relative;
  padding: 6px 0 6px 6px;

  & > *:not(:last-child),
  & [role="img"] {
    margin-right: 6px;
  }

  &:hover {
    background: #f5f5f5;

    .node {
      color: #1890ff;
    }
  }

  &.flat {
    margin-left: -16px;
  }

  &.hidden {
    opacity: 0.3;
  }

  &.selected {
    background: #bae7ff;
  }
}

.list .lstitem {
  border-bottom: none;
}

.ant-tree-switcher {
  margin-top: 15px;
}
