.entities
  margin-top 12px
  padding-top 12px
  border-top 1px solid rgba(#000, 0.1)
  border-bottom 1px solid rgba(#000, 0.1)

  &__header
    font-size 16px
    line-height 22px
    color #0077FF
    height 46px
    display flex
    align-items center
    padding 12px 15px
    border-bottom 1px solid rgba(#000, 0.1)

  &__title
    font-weight 500

  &__source
    padding 0 15px

  &__empty
    height 32px
    display flex
    padding 0 15px
    align-items center

  &__visibility
    &_hidden
      opacity 0.5

.list-item
  padding 0 8px 0 0
