.region-item
  height 32px
  display flex
  align-items center
  font-size 14px
  line-height 22px
  width 100%
  padding-right 8px

  &__counter
    flex none
    width 42px
    display flex
    color #4F00FF
    align-items center
    justify-content center
