.panel
  top 0
  height 100%
  position absolute
  background-color #fff

  &_position
    &_left
      left 0

    &_right
      right 0

  &__header
    height 24px
    font-size 13px
    font-weight 700
    padding 4px 12px
    line-height 16px
    color rgba(#000, 0.5)
    background-color rgba(#000, 0.05)
