.timeline-controls
  &__counter
    height 36px
    width 120px
    display flex
    align-items center
    justify-content center
    background #FAFAFA
    box-shadow inset 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15)
    border-radius 3px

    font-weight 500
    font-size 16px
    line-height 19px
    color #000

    span
      opacity 0.4
      padding-left 5px

  &__time
    display flex
    color rgba(#000, 0.4)

.timeline-time
  padding 0 5px
  font-size 16px
  line-height 20px
  color rgba(#000, 0.4)

  span
    font-size 11px
    color rgba(#000, 0.3)
