<View>
  <Image name="img" value="$image"></Image>
  <EllipseLabels name="tag" toName="img" strokeWidth="3">
    <Label value="Planet" background="yellow"  fillopacity="0.0"></Label>
    <Label value="Moonwalker" background="red" fillopacity="0.2"></Label>
  </EllipseLabels>
  <Choices name="choice" toName="img">
    <Choice value="Space" />
    <Choice value="Underground" />
  </Choices>
</View>
