<View>
  <Header value="Select regions:"></Header>
  <TimeSeriesLabels name="label" toName="ts">
    <Label value="Beat"></Label>
    <Label value="Voice"></Label>
    <Label value="Guitar"></Label>
    <Label value="Other"></Label>
  </TimeSeriesLabels>
  <TimeSeries name="ts" timeValue="$time" format="date" overviewChannels="two">
    <TimeSeriesChannel units="Hz" unitsFormat=",.1f" showgrid="true" strokeColor="#1f77b4" displayName="Sensor 1" value="$one" />
    <TimeSeriesChannel units="Hz" unitsFormat=",.1f" showgrid="true" strokeColor="#ff7f0e" displayName="Sensor 2" value="$two" />
  </TimeSeries>
</View>
