.annotation-tabs
  height 44px
  width 100%
  display flex
  z-index 1000
  position sticky
  top var(--sticky-items-offset)
  background-color var(--main-bg-color)
  border-bottom 1px solid rgba(0, 0, 0, 0.1)

  &__item
    height 100%
    min-width 170px
    display flex
    cursor pointer
    align-items center
    padding 10px 12px
    box-sizing border-box
    border-right 1px solid rgba(#000, 0.1)

    &_selected
      cursor default
      background-color #fff

  &__add
    border none
    width 44px
    height 44px
    padding 0
    margin 0
    cursor pointer
    font-size 16px
    background none

  &__userpic
    width 24px
    height 24px

    &_prediction
      color #944BFF
      background-color #E9DDF8
      box-shadow inset 0px 0px 0px 1px rgba(148, 75, 255, 0.15)


